html{
  font-size:62.5%;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root{
  --heading:"Raleway", Arial;
  --maintext:Verdana, sans-serif;
  --sectext:Helvetica, serif;
  --bg:#00000CFE;
  --default-color:#FFF;
  --search-bg:#464746;
  --search-res:#0a0a14;
  --srch-ans:#37383957;
  --last-updated:#EEFFEECC;
  --modal-bg:#37384088;
  --sidebar-bg:#37383957;
  --activetheme:#FAE529DD;
  --modal-sec:#7EF598D5;
  --modal-sec-w:#EEFFEE;
  --token-symbol:#AAAA99DD;
  --theme-bg:#1A1A1A;
  --bullish:#2DC24E;
  --bearish:#F92C2C;
  --watched:#F1CF24;
  --err-msg:#FFC0CB;
  --tab-color:#CCC;
  --tab-hover:#EEE;
  --article-desc:#DDD;
  --lz-news-bottom:#EEFFEE44;
}
 .light{
  --bg:#FFFE;
  --default-color:#1A1A1A;
  --search-bg:#F0F0F0;
  --search-res:#EBEBEC;
  --srch-ans:#DBDBDB;
  --last-updated:#335533;
  --modal-bg:#DFDFDF;
  --sidebar-bg:#F0F0F0;
  --activetheme:#FADB29CD;
  --modal-sec:#335533;
  --modal-sec-w:#335533;
  --token-symbol:#777766CC;
  --theme-bg:#FAFAFA;
  --bullish:#28A745;
  --bearish:#E63946;
  --watched:#FFD43B;
  --err-msg:#FF6B81;
  --tab-color:#555;
  --tab-hover:#2F2F2F;
  --article-desc:#555;
  --lz-news-bottom:#09091A50;
} 
body{
  background:var(--bg);
  height:100vh;
}
.container{
  position:relative;
  display:grid;
  /* grid-template-columns:15% 85%; */
  grid-template-columns:100%;
  height:100vh;
  max-width:100%;
}
#overlay{
  display:none;
  position:absolute;
  top:0; left:0;
  width:100%;
  height:480vh;
  background:#0009;
}
#sidebar{
  /* display:flex; */
  display:none;
  min-height:100vh;
  padding:2rem 1.9rem 4rem 1.9rem;
  background:var(--sidebar-bg);
}
.siteblock{
  display:flex;
  flex-wrap:nowrap;
  margin-bottom:40%;
}
#sitename{
  font-family:var(--heading);
  font-weight:600;
  font-size:2rem;
  color:var(--modal-sec);
}
#nav-tabs{
  position:fixed;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  height:80vh;
  font-family:var(--maintext);
}
.tab{
  display:flex;
  flex-wrap:nowrap;
  padding-bottom:.7rem;
  align-items:center;
  margin-bottom:3rem;
  color:var(--tab-color);
  transition: scale .1s;
}
.tab:hover{
  scale:1.1;
  fill:var(--tab-hover);
  cursor:pointer;
}
.tab-svg{
  min-width:17px;
  min-height:17px;
}
.light .tab-svg .default-fill{
  fill:var(--default-color);
}
.light .tab-svg .default-stroke{
  stroke:var(--default-color);
}
.nav-tab-span{
  margin-left:1rem;
  font-size:1.5rem;
}
.current-tab{
  color:var(--default-color);
  border-bottom:2px solid var(--modal-sec);
}
.current-tab .active-fill-bloc{
  fill:var(--modal-sec);
}
.current-tab .active-stroke-bloc{
  stroke:var(--modal-sec);
}
.theme{
  display:flex;
  width:min-content;
  border-radius:20px;
  background:var(--theme-bg);
  cursor:pointer;
}
.nav-theme{
  display:block;
  margin-right:1%;
  padding:1rem;
}
.light-theme, .dark-theme{
  padding:.7rem;
  border-radius:50%;
}
.selected-theme{
  background:var(--activetheme);
}
.main{
  padding:1rem 1.6rem 2rem;
  color:var(--default-color);
}
nav{
  display:flex;
  align-items:center;
  margin-bottom:5rem;
}
#current-tab{
  flex:2;
}
.current-tab-name{
  display:flex;
  align-items:center;
  margin-right:1rem;
  font-size:2.5rem;
  font-family:var(--heading);
  font-weight:600;
  color:var(--modal-sec);
}
.tab-switch{
  display:none;
}
#nav-entry{
  position:relative;
  display:inherit;
  flex:1;
  margin-right:1.5rem;
  padding:.5rem;
  border-radius:40px;
  background:var(--modal-bg);
}
.search-block{
  margin-right:3%;
  padding:.5rem;
  border-radius:50%;
  background:var(--search-bg);
  cursor:pointer;
}
#nav-entry input{
  width:100%;
  outline:none;
  border:none;
  border-top-right-radius:inherit;
  border-bottom-right-radius:inherit;
  border-left:0px;
  font-size:1.5rem;
  color:var(--tab-color);
  background:none;
}

#search-res-block{
  position:fixed;
  top:1.5%;
  left:39%;
  display:none;
  flex-direction:column;
  border-radius:25px;
  background:var(--search-res);
  width:60%;
  color:white;
  padding:1rem;
  z-index:3;
}
#search-res-block > div:nth-child(8){
  margin-bottom:1.3rem;
}
.inp-holder{
  display:flex;
  align-items:center;
  margin-bottom:2rem;
  padding:.5rem 0;
  border-radius:15px;
  background:none;
}
.inp-holder svg:nth-child(1){
  margin:1%;
  margin-right:1.5%;
  cursor:pointer;
}
.search-cancel{
  margin:1%;
  cursor:pointer;
}
.inp-holder input{
  width:60%;
  padding:.5rem 0;
  outline:none;
  border:none;
  border-bottom:2px solid var(--modal-bg);
  border-left:0px;
  font-size:1.4rem;
  flex:1;
  color:var(--tab-color);
  background:none;
}
.inp-holder input::-webkit-input-placeholder{
  color:var(--tab-color);
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.search-res{
  display:grid;
  grid-template-columns:minmax(3rem, .2rem) minmax(auto, 1fr);
  gap:1%;
  padding:.8rem 1rem;
  margin-bottom:1rem;
  border-radius:15px;
  background:var(--sidebar-bg);/*(--srch-ans);*/
  align-items:center;
}
.search-res img{
  width:25px;
  height:25px;
  border-radius:50%;
}
.search-res div:nth-child(2){
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap:.4rem;
}
.search-res-id{
  margin-right:10%;
  display:flex;
  align-items:center;
  gap:.5rem;
  flex-wrap:wrap;
  flex:1;
}
.search-res-name{
  margin-right:2%;
  font-size:1.5rem;
  font-weight:500;
  color:var(--default-color);
  font-family:var(--heading);
  white-space:normal;
  overflow-wrap:break-word;
  word-break:break-word;
}
.search-res-symbol{
  font-size:1.1rem;
  color:var(--token-symbol);
  font-family:var(--sectext);
  white-space:normal;
  overflow-wrap:break-word;
}
.search-res-asset-type{
  justify-self:end;
  color:var(--tab-color);
  font-size:1.2rem;
  font-family:var(--maintext);
}
.res-num-display{
  margin-bottom:.7rem;
  text-align:center;
  font-size:1.1rem;
  font-family:var(--sectext);
  color:var(--default-color);
}
.nav-notif{
  margin-right:1%;
  padding:.9rem;
  border-radius:50%;
  background:var(--modal-bg);
  cursor:pointer;
}
.light .nav-notif{
  background:var(--search-bg);
}
#auth-section{
  display:inherit;
  flex-wrap:nowrap;
  align-content:center;
}
.nav-user{
  display:inherit;
  align-items:center;
  margin-right:.7rem;
  font-family:var(--sectext);
  font-size:1.6rem;
  font-weight:500;
}
.account-switch{
  cursor:pointer;
}
.last-update{
  color:var(--last-updated);
  margin:2% 0;
  font-style:italic;
  font-size:1.2rem;
  font-family:var(--sectext);
}

#market-overview{
  display:grid;
  grid-template-columns:minmax(10rem, .15fr) minmax(15rem, .3fr) minmax(49%, 100%);
  gap:2%;
  margin-bottom:5rem;
  align-items:center;
  overflow-x:auto;
  scroll-snap-type:x;
  scroll-behavior:smooth;
  scrollbar-width:none;
}
.daily-mc, .mrk-dom, .fg-sentiment{
  display:flex;
  flex-direction:column;
  min-height:8rem;
  padding:1rem;
  border:none;
  border-radius:15px;
  scroll-snap-align:center;
  color:var(--article-desc);
  background:var(--sidebar-bg);
}
.light .daily-mc, .light .mrk-dom, .light .fg-sentiment{
  color:var(--tab-hover);
}
.mrkt-sentiment-header{
  font-size:1.2rem;
  font-family:var(--maintext);
  margin-bottom:.8rem;
  color:var(--tab-color);
}
.mc-value{
  font-size:1.6rem;
  font-weight:bold;
  flex:1;
  font-family:var(--maintext);
}
.mc-change{
  display:flex;
  align-items:center;
  font-size:1.2rem;
  font-family:var(--sectext);
}
.mc-change svg{
  margin-left:.3rem;
}
.btc-dom, .eth-dom{
  display:inline-flex;
  flex-wrap:wrap;
  font-size:1.4rem;
  font-family:var(--maintext);
}
.btc-dom:hover, .eth-dom:hover{
  color:var(--modal-sec);
}
.fear-greed-info{
  display:flex;
  align-items:center;
  gap:3%;
}
.fg-img{
  display:flex;
  align-items:center;
  font-family:var(--sectext);
}
.fg-img svg{
  margin-inline-end:10%;
}
.fg-number{
  font-size:1.4rem;
  font-weight:550;
  font-family:var(--sectext);
}
.fg-comment{
  white-space:nowrap;
  font-size:1.4rem;
  font-weight:400;
  font-family:var(--sectext);
}
.lz-metric-covers{
  display:flex;
  flex-direction:column;
  min-height:8rem;
  padding:1rem;
  border:none;
  border-radius:15px;
  scroll-snap-align: center;
  background:var(--sidebar-bg);
}
.lz-metrics{
  margin-bottom:.7rem;
  width:100%;
  height:3rem;
  border:none;
  border-radius:7px;
  background:linear-gradient(120deg, var(--modal-bg) 8%, var(--sidebar-bg) 18%, var(--modal-bg) 33%);
  background-size:200% 100%;
  animation: lazyload 2.5s infinite ease;
}




#today-overview{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(25rem,1fr));
  margin-bottom:5rem;
  column-gap:2%;
  gap:3% 2%;
}
.trending-block, .recently-added-block{
  padding:1.5rem;
  width:100%;
  border-radius:25px;
  background:var(--sidebar-bg);
  box-shadow:0 0 1px 2px var(--border-color);
}
.trending-block .lazy:nth-child(1){
  margin-top:1.3rem;
}
.block-head{
  display:flex;
  align-items:center;
}
.modal-head{
  font-family:var(--maintext);
  font-size:1.9rem;
  flex:1;
}
.modal-secondary{
  font-family:var(--sectext);
  font-size:1.3rem;
  color:var(--modal-sec-w);
}
.top-trending, .top-ra{
  display:flex;
  flex-wrap:nowrap;
  align-content:center;
  align-items:center;
  width:100%;
  max-height:5rem;
  margin-bottom:.7rem;
  padding:1.3rem 1rem 1.3rem;
  border-radius:25px;
  border:none;
  font-size:1.5rem;
  font-family:var(--sectext);
  background:var(--modal-bg);
}
.lazy{
  margin-bottom:.7rem;
  width:100%;
  height:4.6rem;
  border:none;
  border-radius:25px;
  background:linear-gradient(120deg, var(--modal-bg) 8%, var(--sidebar-bg) 18%, var(--modal-bg) 33%);
  background-size:200% 100%;
  animation: lazyload 2.5s infinite ease;
}
@keyframes lazyload{
  from{
    background-position:-120% 0;
  }to{
    background-position:120% 0;
  }
}
.top-trending:nth-child(2), .top-ra:nth-child(2){
  margin-top:1.3rem;
}
.num, .top-trending img, .top-ra img, .token-name{
  margin-right:7px;
}
.token-name{
  width:min-content;
  overflow:hidden;
}
.top-trending img, .top-ra img{
  height:2rem;
  width:2rem;
  border-radius:50%;
}
.token-symbol{
  margin-right:1rem;
  font-size:1.2rem;
  color:var(--token-symbol);
  flex:1;
}
#topcoins{
  margin-bottom:3rem;
  padding-right:.5rem;
}
.lazy-tag{
  display:flex;
  flex-wrap:nowrap;
  width:100%;
  align-items:center;
  overflow-x:auto;
  scroll-snap-type:x;
  scroll-behavior:smooth;
  scrollbar-width:none;
}
.lazycoins{
  display:flex;
  flex-direction:column;
  margin: 0 2rem 2rem 0;
  padding:2rem;
  min-width: 20rem;
  min-height: 16.5rem;
  aspect-ratio:5 / 4;
  justify-content: center;
  border-radius:30px;
  scroll-snap-align:center;
  border:none;
  border-radius:30px;
  background:var(--sidebar-bg);
}
.coin-framework{
  background:linear-gradient(120deg, var(--modal-bg) 8%, var(--sidebar-bg) 30%, var(--modal-bg) 45%);
  background-size:200% 100%;
  animation: shimmer 2s infinite ease;
}
.lazycoins > p:nth-child(1){
  margin-bottom:3%;
  width:40%;
  height:2.7rem;
  border:none;
  border-radius:15px;
}
.lazycoins > p:nth-child(2){
  margin-bottom:3%;
  width:87%;
  height:3rem;
  border:none;
  border-radius:15px;
}
.lazycoins > p:nth-child(3){
  width:60%;
  height:2.7rem;
  border:none;
  border-radius:15px;
}
@keyframes shimmer{
   from{
    background-position:-100% 0;
  }to{
    background-position:100% 0;
  }
}
.topcoins-modal-head{
  font-family:var(--maintext);
  font-size:2.5rem;
  font-weight:550;
}
.topcoins-modal-head span{
  margin-left:.7rem;
  font-size:1.2rem;
  color:var(--last-updated);
  font-family:var(--sectext);
}
.topcoins-boxes{
  display:flex;
  flex-wrap:nowrap;
  margin-top:2rem;
  width:100%;
  align-items:center;
  overflow-x:auto;
  scroll-snap-type:x;
  scroll-behavior:smooth;
  scrollbar-width:none;
}
.topcoins-box{
  display:flex;
  flex-direction:column;
  margin:0 2rem 2rem 0;
  min-width:20rem;
  min-height:16.5rem;
  aspect-ratio:5/4;
  border-radius:30px;
  scroll-snap-align:center;
  background:var(--sidebar-bg);
}
.topcoins-box img{
  height:40px;
  width:40px;
  margin-bottom:5%;
  border-radius:50%;
  user-select:none;
}
.topcoins-box p:nth-child(2){
  margin-bottom:2%;
  font-size:1.7rem;
  font-family:var(--sectext);
}
.topcoins-value{
  font-size:2rem;
  font-weight:400;
  font-family:var(--sectext);
  flex:1;
}
.topcoins-box p:nth-child(4){
  font-size:1.5rem;
  font-weight:400;
  font-family:var(--sectext);
}
.topcoins-box p:nth-child(4) span{
  margin-left:3%;
  font-size:1.2rem;
}
.trending-news-modal-head{
  font-family:var(--maintext);
  font-size:2.5rem;
  font-weight:550;
}
.news{
  margin:2rem 0 1rem;
  background:var(--sidebar-bg);
  border-radius:10px;
}
.fetch-err{
  background:var(--bg);
  font-size:3.2rem;
  color:var(--err-msg);
  font-family:var(--sectext);
}
.fetch-err p{
  margin-top:1rem;
  font-size:2rem;
  color:inherit;
}
.article{
  display:flex;
  padding:2rem 1rem 2rem;
  flex-wrap:nowrap;
  align-items:center;
  border-bottom:1px solid var(--last-updated);
  max-width:100%;
}
.article:hover{
  background:var(--modal-bg);
  border-radius:10px;
}
.lz-art{
  display:flex;
  padding:1.5rem 1rem 2rem;
  flex-wrap:nowrap;
  align-items:center;
  max-width:100%;
  border-bottom:1px solid var(--lz-news-bottom);
  background:none;
}
.lazy-news > div:last-child{
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
.art-img-lz{
  margin:0 3% 1rem 0;
  width:25rem;
  height:15rem;
  max-width:100%;
  border-radius:10px;
}
.lz-art .div{
  display:flex;
  flex-direction:column;
  width:100%;
}
.art-title{
  margin-bottom:2%;
  height:2.7rem;
  border-radius:10px;
  max-width:50%;
}
.art-desc{
  height:2rem;
  border-radius:10px;
  max-width:85%;
}
.auth-img{
  margin:0 1.3rem 1rem 0;
  width:25rem;
  height:15rem;
  border-radius:10px;
}
.article div:nth-child(2){
  max-width:100%;
  overflow:hidden;
  font-style:italic;
}
.article-title{
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-flex:1;
  -webkit-box-orient:vertical;
  line-clamp:2;
  font-size:1.9rem;
  font-family:var(--sectext);
  overflow:hidden;
  word-break:break-word;
  text-overflow:ellipsis;
  max-width:100%;
}
.article-desc{
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
  margin-bottom:1rem;
  font-size:1.5rem;
  color:var(--article-desc);
  font-family:var(--sectext);
  text-decoration:underline;
  overflow:hidden;
  max-width:90%;
  line-clamp:3;
}
.time-published{
  margin-bottom:1rem;
  font-style:normal;
  font-size:1.3rem;
  font-family:var(--sectext);
}
.new-content{
  display:none;
  justify-self:center;
  align-items:center;
  margin-top:2rem;
  padding:1rem;
  color:var(--default-color);
  box-shadow:0 0 1px 2px var(--border-color);
  border:none;
  border-radius:10px;
  background:var(--sidebar-bg);
  cursor:pointer;
}
.new-content:hover{
  background:var(--modal-bg);
}
.new-content span{
  white-space:nowrap;
  font-size:1.7rem;
  font-family:var(--sectext);
  margin-right:5%;
}
.refresh-load{
  animation: refreshing 1s infinite forwards ease;
}
@keyframes refreshing{
  from{
    transform:rotate(0);
  }to{
    transform:rotate(359deg);
  }
}



/*MOBILE SCREEN SIZE*/
@media screen and (max-width:425px){
  .container{
    grid-template-columns:100%;
  }
  #overlay{
    height:650vh;
  }
  #sidebar{
    display:none;
    padding:0;
    justify-content:center;
  }
  #sitename{
    display:none;
  }
  nav{
    position:sticky;
    top:0;
    margin-bottom:3rem;
    padding:0 0 .7rem;
    background:var(--bg);
  }
  .tab-switch{
    display:block;
    align-self:last baseline;
    margin-bottom:.3rem;
    margin-left:.3rem;
  }
  .account-switch{
    display:none;
  }
  .nav-theme{
    display:block;
    margin-right:.5rem;
    padding:.7rem;
  }
  .nav-dark{
    display:none;
  }
  .nav-tab-span{
    display:block;
  }
  #nav-tabs{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    height:70%;
  }
  .daily-mc, .fg-sentiment{
    max-width:17.5rem;
    max-height:8rem;
  }
  #nav-entry, .search-block, .nav-notif{
    padding:.5rem;
    background:none;
  }
  #nav-entry svg, .search-block svg, .nav-notif svg{
    scale:1.3;
  }
  #nav-entry{
    display:flex;
    flex:0;
    margin-right:0;
    padding-right:2%;
  }
  .light #nav-entry{
    border:none;
  }
  #nav-entry input{
    display:none;
  }
  #search-res-block{
  top:2%;
  left:20%;
  width:75%;
  padding:1rem;
  z-index:3;
}
  .nav-notif{
    margin-right:0;
  }
  .light .nav-notif{
    background:none;
  }
  .nav-user{
    display:none;
  }
  .fetch-err{
    text-align:center;
  }
  .article{
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .lz-art{
    flex-direction:column;
  }
  .art-img-lz{
    justify-items:baseline;
  }
  .article-desc{
    -webkit-line-clamp:1;
    line-clamp:1;
    width:100%;
  }
}

/*TABLET SCREEN SIZE*/
@media screen and(min-width:786px){}
