html{font-size:62.5%;}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root{
  --heading:"Raleway", Arial;
  --maintext:Verdana, sans-serif;
  --sectext:Helvetica, serif;
  --bg:#000;
  --last-updated:#888877CC;
  --modal-bg:#373839BB;
  --sidebar-bg:#37383967;
  --activetheme:#FAE529;
  --theme-bg:#1A1A1A;
  --bullish:#2DC24E;
  --bearish:#F92C2C;
  --watched:#F1CF24;
}
body{
  background:var(--bg);
}
#container{
  display:grid;
  grid-template-columns: 15% 85%;/*minmax(0%, auto) minmax(auto, auto);*/
  min-height:100vh;
  max-width:100%;
}
#sidebar{
  
  display:flex;
  min-height:100vh;
  padding:2rem 1.9rem 4rem 1.9rem;
  background:var(--sidebar-bg);
}
.siteblock{
  display:flex;
  flex-wrap:nowrap;
  margin-bottom:40%;
}
#sitename{
  font-family:var(--heading);
  font-weight:600;
  font-size:2rem;
  color:#ffc0cb;
}
#nav-tabs{
  position:fixed;
  scroll-margin-top:60px;
  justify-content:center;
  height:80vh;
  font-family:var(--maintext);
}
.tab{
  display:flex;
  flex-wrap:nowrap;
  align-items:center;
  margin-bottom:3rem;
  color:#ccc;
  transition: scale .25s;
}
.tab:hover{
  scale:1.1;
  color:#eee;
  cursor:pointer;
}
.tab-svg{
  min-width:17px;
  min-height:17px;
}
.nav-tab-span{
  margin-left:1rem;
  font-size:1.3rem;
}
.active-tab{fill:red;stroke:red;}
/*selected tab*/
.current{
  padding:1rem 3rem 1rem .7rem;
  /*border: 2px solid GREEN;*/
  border-bottom: 2px solid green;
  /*border-radius:25px;*/
  /*box-shadow:0 0 5px 2px green;*/
  /*color:#000;*/
  background:#fff0;
}
.current svg{
  fill:#000;
}
/*selected tab end*/

#theme{
  display:flex;
  width:min-content;
  border-radius:20px;
  background:var(--theme-bg);
}
.light-theme{
  display:none;
}
.light-theme, .dark-theme{
  padding:.7rem;
  border-radius:inherit;
}

/*theme switch*/
.selected-theme{
  background:#FAE529;
}
.selected-theme path{
  fill:#000;
}
/*theme switch end*/


.main{
  padding:1rem 1.5rem 2rem;
  color:#fff;
}
nav{
  display:flex;
  align-items:center;
  margin-bottom:5rem;
}
#current-tab{
  flex:2;
}
.current-tab-name{
  display:flex;
  margin-right:1rem;
  font-size:3rem;
  font-family:var(--heading);
}
#nav-entry{
  display:inherit;
  flex:1;
  margin-right:1.5rem;
  padding:.5rem;
  border-radius:40px;
  background:var(--modal-bg);
}
.search-block{
  margin-right:3%;
  padding:.5rem;
  border-radius:50%;
  background:#262727;
  cursor:pointer;
}
#nav-entry input{
  outline:none;
  border:none;
  font-size:1.5rem;
  color:#ccc;
  background:none;
}
.nav-notif{
  margin-right:1%;
  padding:.9rem;
  border-radius:50%;
  background:var(--modal-bg);
  cursor:pointer;
}
#auth-section{
  display:inherit;
  
  flex-wrap:nowrap;
  align-content:center;
}
.nav-user{
  display:inherit;
  align-items:center;
  margin-right:.7rem;
  font-family:var(--sectext);
  font-size:1.6rem;
  font-weight:500;
}
.account-switch{
  cursor:pointer;
}

.last-update{
  color:var(--last-updated);
  margin:2% 0;
  font-style:italic;
  font-size:1.2rem;
  font-family:var(--sectext);
}
#today-overview{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(25rem,1fr));
  margin-bottom:5rem;
  /*padding-right:; /*2rem*/
  column-gap:2%;
  gap:3% 2%;
}
.trending-block, .recently-added-block{
  padding:1.5rem;
  width:100%;
  border-radius:25px;
  background:var(--sidebar-bg);
}

.block-head{
  display:flex;
  align-items:center;
}
.modal-head{
  font-family:var(--maintext);
  font-size:1.9rem;
  flex:1;
  margin-bottom:1.3rem;
}
.modal-secondary{
  font-family:var(--sectext);
  font-size:1.3rem;
  color:#7ef598d5;
}
.no1, .no2, .no3{
  display:flex;
  flex-wrap:nowrap;
  align-content:center;
  align-items:center;
  width:100%;
  margin-bottom:.7rem;
  padding:1.3rem 1rem 1.3rem;
  border-radius:25px;
  border:none;
  font-size:1.5rem;
  font-family:var(--sectext);
  background:var(--modal-bg);
}
.num, .no1 img, .no2 img, .no3 img, .token-name{
  margin-right:7px;
}
.no1 img, .no2 img, .no3 img{
  height:1.7rem;
  width:2rem;
}

.trending-block .value-point{color:var(--bearish);}
.recently-added-block .token-value{color:var(--bullish);}

.token-symbol{
  padding:rem;
  margin-right:1rem;
  font-size:1.2rem;
  color:#887c;
  flex:1;
}

#topcoins{
  margin-bottom:3rem;
  padding-right:1rem;
}
.topcoins-modal-head{
  font-family:var(--maintext);
  font-size:2.5rem;
  font-weight:550;
}
.topcoins-modal-head span{
  margin-left:1rem;
  font-size:1.2rem;
  color:var(--last-updated);
}


.topcoins-boxes{
  display:flex;
  flex-wrap:nowrap;
  margin-top:1.3rem;
  width:100%;
  align-items:center;
  overflow-x:auto;
  scroll-snap-type:x;
  scroll-behavior:smooth;
  scrollbar-width:none;
}
.topcoins-box{
  display:flex;
  flex-direction:column;
  margin:0 2rem 2rem 0;
  /* padding:2rem; */
  min-width:20rem;
  min-height:16.5rem;
  aspect-ratio:5/4;
  border-radius:30px;
  scroll-snap-align:center;
  background:none;
}
.lazy{
  width:100%;
  height:100%;
  border:none;
  border-radius:inherit;
  animation: shimmer 2.5s infinite ease;
}
@keyframes shimmer{
  0%{
    background:var(--sidebar-bg);
  }50%{
    background:var(--modal-bg);
  }100%{
    background:var(--sidebar-bg);
  }
}

.topcoins-box img{
  height:40px;
  width:40px;
  margin-bottom:5%;
  border-radius:50%;
  user-select:none;
}
.topcoins-box p:nth-child(2){
  margin-bottom:2%;
  font-size:1.7rem;
  font-family:var(--sectext);
}
.topcoins-value{
  font-size:2rem;
  font-weight:250;
  font-family:var(--sectext);
  flex:1;
}
.topcoins-box p:nth-child(4){
  font-size:1.5rem;
  font-weight:200;
  font-family:var(--sectext);
}
.topcoins-box p:nth-child(4) span{
  margin-left:3%;
  font-size:1.2rem;
}
.trending-news-modal-head{
  font-family:var(--maintext);
  font-size:2.5rem;
  font-weight:550;
}
.news{
  margin-top:2rem;
  background:var(--sidebar-bg);
  border-radius:10px;
}
.fetch-err{
  background:var(--bg);
  font-size:3.2rem;
  color:#ffc0cb;
  font-family:var(--sectext);
  text-align:center;

}
.article{
  display:flex;
  padding:2rem 1rem 2rem;
  flex-wrap:nowrap;
  align-items:center;
  border-bottom:1px solid var(--last-updated);
}
.article:hover{
  background:var(--modal-bg);
  border-radius:10px;
}
.auth-img{
  margin:0 1.3rem 1rem 0;
  width:25rem;
  height:15rem;
  border-radius:10px;
}
.article div:nth-child(2){
  font-style:italic;
}
.article-title{
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  font-size:1.9rem;
  font-family:var(--sectext);
  overflow:hidden;
  text-overflow:ellipsis;
}
.article-desc{
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
  margin-bottom:1rem;
  font-size:1.5rem;
  color:#ddd;
  font-family:var(--sectext);
  text-decoration:underline;
  white-space:wrap;
  overflow:hidden;
  max-width:90%;
}
.time-published{
  margin-bottom:1rem;
  font-style:none;
  font-size:1.4rem;
}
.new-content{
  display:flex;
  justify-self:center;
  align-items:center;
  margin-top:2rem;
  padding:1rem;
  color:#fff;
  border:none;
  border-radius:10px;
  background:var(--sidebar-bg);
  cursor:pointer;
}
.new-content:hover{
  background:var(--modal-bg);
}
.new-content span{
  white-space:nowrap;
  font-size:1.7rem;
  font-family:var(--sectext);
  margin-right:5%;
}
.refresh-load{
  animation: refreshing 1s infinite forwards ease;
}
@keyframes refreshing{
  from{
    transform:rotate(0);
  }to{
    transform:rotate(359deg);
  }
  
}










/*MOBILE SCREEN SIZE*/
@media screen and (max-width:425px){
  #container{
    grid-template-columns:100%;
  }
  #sidebar{
    display:none;
    padding:0;
    justify-content:center;
  }
  #sitename{
    display:none;
  }
  .nav-tab-span{
    display:none;
  }
  #nav-tabs{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    height:70%;
  }
  



  .light-theme svg, .dark-theme svg{
    width:13px;
    height:13px;
  }
  #nav-entry, .search-block, .nav-notif{
    padding:.5rem;
    background:none;
  }
  #nav-entry svg, .search-block svg, .nav-notif svg{
    scale:1.3;
  }
  #nav-entry{
    flex:0;
    margin-right:0;
    padding-right:2%;
  }
  #nav-entry input{
    display:none;
  }
  .nav-notif{
    margin-right:0;
    padding-right:4%;
  }
  .nav-user{
    display:none;
  }
  

  .article{
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .article-desc{
    -webkit-line-clamp:1;
    width:100%;
  }
}

/*TABLET SCREEN SIZE*/
@media screen and(min-width:786px){}
